<mat-sidenav-container class="sidenav-container" style="background-color: rgb(124, 189, 164);">
  <mat-sidenav
    #drawer
    mode="side"
    [opened]="isExpanded"
    class="sidenav"
  >
    <mat-toolbar class="sidenav-header">
      <button mat-icon-button (click)="toggleSidebar()">
        <mat-icon>{{ isExpanded ? 'menu_open' : 'menu' }}</mat-icon>
      </button>
      <span *ngIf="isExpanded">My Sidebar</span>
    </mat-toolbar>
    <mat-nav-list>
      <mat-list-item *ngFor="let item of navItems" [routerLink]="item.route">
        <mat-icon mat-list-icon>{{ item.icon }}</mat-icon>
        <span *ngIf="isExpanded">{{ item.label }}</span>
      </mat-list-item>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <!-- Aquí irá el contenido principal de tu app -->
    <!-- <router-outlet></router-outlet> -->
  </mat-sidenav-content>
</mat-sidenav-container>
